<!--<div class="home jumbotron">
    <h1>{{ this._ApplicationService.getPayload() | uppercase }} Events</h1>
</div>-->
<div style="height: 52px;"></div> 


<!-- Todo table -->
<div class="panel panel-default">
    <p-dataTable [contextMenu]="cm" [value]="todos" [(selection)]="selectedTodo" selectionMode="single" sortField="summary" [sortOrder]="1" [globalFilter]="gb" #dt>
        <p-header> 
            <div style="text-align:left">
                Categories:<p-multiSelect [options]="categories" [(ngModel)]="SelectedTasksCategories" (ngModelChange)="categoriesChanged($event)"></p-multiSelect>
                Hide subtasks:<p-checkbox [(ngModel)]="subtaskBoolean" binary="true" (onChange)="taskFilters($event)"></p-checkbox>
                <!--Hide completed:<p-checkbox [(ngModel)]="completedBoolean" binary="true" (onChange)="taskFilters($event)"></p-checkbox>-->
                <input #gb type="text" placeholder="Search tasks"> 
            </div>
            
        </p-header>  
        <!--<p-column [style]="{'width':'80px'}" header="Complete">
            <ng-template let-item="rowData" pTemplate="body">
                <button class="btn btn-default" (click)="markComplete(item)"><span class="fa fa-check"></span></button>
            </ng-template>
        </p-column>-->
        <p-column field="summary" header="Name" [sortable]="true"></p-column>
        <p-column field="status" header="status" [sortable]="true" [filter]="true" filterMatchMode="in" [style]="{'width':'120px','overflow':'visible'}">
            <ng-template pTemplate="filter" let-col>
                <p-multiSelect [options]="this._ApplicationService.getStatusList()" [(ngModel)]="test" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter" [style]="{'color': 'black'}"></p-multiSelect>
            </ng-template>
        </p-column>
        <p-column field="categories" header="Categories" [style]="{'width':'130px','overflow':'visible'}"> 
            <!--[filter]="true" filterMatchMode="contains"-->
            <!--<template pTemplate="filter" let-col>
                <p-multiSelect [options]="categories" defaultLabel="All Categories" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>               -->
        </p-column>
        <p-column field="due" header="Due" [sortable]="true" [style]="{'width':'90px'}">
            <ng-template let-item="rowData" pTemplate="body">
                <span>{{item.due | date:'shortDate'}}</span>
            </ng-template> 
        </p-column>
        <!--filtermatchmode=in werkt niet :(-->
        <p-column field="assignees" header="Assignees" [filter]="true" filterMatchMode="equals" [style]="{'width':'100px', 'overflow':'visible'}">
            <ng-template pTemplate="filter" let-col>
                <p-multiSelect [options]="_ApplicationService.getUsers()" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter" [style]="{'color': 'black'}"></p-multiSelect>
            </ng-template>     
        </p-column>
        <p-column field="priority" header="Priority" [style]="{'width':'80px'}" [sortable]="true">
        </p-column> 
        <p-column field="lastmod" header="Lastmodified" [style]="{'width':'180px'}" [sortable]="true">
        <ng-template let-item="rowData" pTemplate="body">
            <span>{{ item.lastmod | date:'dd-MM-yyyy HH:mm':'+0000'}} ({{item.user}}) </span>
        </ng-template>
        </p-column>     
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button class="btn btn-default" (click)="Edit(true)" style="float:left"><span class="glyphicon glyphicon-plus"></span>Add</button></div></p-footer>
    </p-dataTable>
</div>

<!-- contextmenu --> 
<p-contextMenu #cm [model]="items"></p-contextMenu> 

<div #ItemDetailsAnchor></div>