<nav class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'tasks' }}]" (click)="this._ApplicationService.saveRoute('tasks')"> Tasks</a></li>
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'events' }}]" (click)="this._ApplicationService.saveRoute('events')"> Events</a></li>
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'timeline' }}]" (click)="this._ApplicationService.saveRoute('timeline')">Timeline</a></li>
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'timelinereviews' }}]" (click)="this._ApplicationService.saveRoute('timelinereviews')"> Timeline Reviews</a></li>           
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'files' }}]" (click)="this._ApplicationService.saveRoute('files')"> Files</a></li>
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'transfers' }}]" (click)="this._ApplicationService.saveRoute('transfers')">Uplink/Transfers/Downlinks</a></li>
            <li><a href="#" [routerLink]="[{ outlets: { mainnav: 'dailyoperationsreport' }}]" (click)="this._ApplicationService.saveRoute('dailyoperationsreport')">DOR</a></li>
            <li class="divider"></li>
            <li *ngIf="!decodedJwt.payload.positions.includes('uhb')"><a href="#" [routerLink]="[{ outlets: { mainnav: 'management' }}]" (click)="this._ApplicationService.saveRoute('management')">Management</a></li>
          </ul>
        </li>    
        <!-- Payload selection -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-rocket fa-lg"> </span>  {{ this._ApplicationService.getPayload() | uppercase }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li *ngFor="let payload of Payloads">
              <a (click)="this._ApplicationService.setPayload(payload.name)">{{ payload.name | uppercase }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search {{ _ApplicationService.getPayload() }}" value="Search {{ _ApplicationService.getPayload() | uppercase }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>DOY{{ now | DOY }}/{{ now | date:'dd-MM-yyyy'}}</span></a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
            class="glyphicon glyphicon-list-alt"></span> My tasks <span class="label label-info">{{ myTasks.length }}</span>
        </a>
            <ul class="dropdown-menu">
                <li *ngIf="myTasks.length === 0"> All good</li>
                <li *ngFor="let task of myTasks"><a href="javascript:void(null);" (click)="Edit(task)"><span class="label label-warning"> {{ task.due | date:'dd-MM-yyyy HH:mm':'+0000' }}</span>{{ task.summary }}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span id="username">{{ decodedJwt.payload.initial }}</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li id="profile"><a href="#" [routerLink]="[{ outlets: { mainnav: 'user-info' }}]"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li id="wiki"><a href="{{ wikilink }}" target="_blank"><span class="fa fa-question-circle"></span> Wiki</a></li>
                <li class="divider"></li>
                <li id="logout"><a href="#" (click)="logout()"><span class="glyphicon glyphicon-off" ></span> Logout</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet name="mainnav">
</router-outlet>

<!-- <div style="position: fixed; bottom: 0; right: 0; z-index: 9999">
    <p-growl [value]="msgs" sticky="true"></p-growl>
</div> -->

<p-toast [style]="{marginTop: '70px'}" position="top-right"></p-toast>

<div #ItemDetailsAnchor></div>
