<div style="height: 50px;">
</div>

<div style="height: 50px;">
  <nav class="navbar navbar-fixed-in-container navbar-default">
    <div class="container-fluid container-fixed-navbar" >
      <form class="nav navbar-nav navbar-form navbar-right">
        <div class="btn-group" style="padding-left: 20px">
          <p-dropdown [options]="timelines" (onChange)="changeTimeline($event)" [(ngModel)]="selectedTimelineLabel" [style]="{'width':'125px'}" placeholder="select timeline" name="selectTimeline"></p-dropdown>
          <button id="time" type="button" class="btn btn-default btn-sm" title="Time at the cursor" *ngIf="pointedTime">Cursor: GMT{{ pointedTime | DOY }}/{{ pointedTime | date:'HH:mm':'+0000' }} ({{ pointedTime | date:'dd-MM-yyyy'}})</button>
          <button id="add-event" type="button" class="btn btn-default btn-sm" title="Add event" (click)="editEvent($event,true)"><span class="fa fa-plus"></span> Event</button>
          <!-- <button id="add-sequence" type="button" class="btn btn-default btn-sm" title="Add a sequence" data-toggle="modal" data-target="#sequence-modal"><span class="fa fa-plus"></span> Sequence</button> -->
          <button id="countdown" type="button" class="btn btn-default btn-sm" title="AOS LOS Timer" (click)="showCountdownPopUp()">AOS/LOS</button>
          <!-- <button id="capture" type="button" class="btn btn-default btn-sm" title="Timeline snapshot" (click)="timelineSnapshot()">Snapshot</button> -->
          <!-- <button id="googleauth" type="button" class="btn btn-default btn-sm" title="Google signin" (click)="handleAuthClick()"><span class="fa fa-google"></span></button> -->
          <button id="settings" type="button" class="btn btn-default btn-sm" title="Timeline settings" (click)="settingsBoolean = true" data-toggle="modal" data-target="#settings-modal"><span class="fa fa-cog"></span></button>
          <button id="locate-now" type="button" class="btn btn-default btn-sm" title="Jump to Now" (click)="now()">Now</button>
          <button id="previous-day" type="button" class="btn btn-default btn-sm" title="Go Back One Day" (click)="previousDay()">-1d</button>
          <button id="next-day" type="button" class="btn btn-default btn-sm" title="Go Forward One Day" (click)="nextDay()">+1d</button>
          <button id="relocate" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#relocate-modal" title="Jump to Custom Date">
            <span class="glyphicon glyphicon-calendar"></span> 
          </button>
        </div>
        <div class="btn-group" style="padding-left: 20px">
          <button id="zoom-in" type="button" class="btn btn-default btn-sm" title="Zoom In" (click)="zoomIn()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button id="zoom-out" type="button" class="btn btn-default btn-sm" title="Zoom Out" (click)="zoomOut()">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </div>
      </form>
      <form class="nav navbar-nav navbar-form navbar-left">
          <span style="font-weight: bold;font-size: 16pt;">{{ selectedTimelineLabel }}</span>
      </form>
    </div>
  </nav>
</div>

<div style="height: 30px; text-align: center">
    <span style="font-weight: bold;font-size: 16pt; line-height: 30px;">DOY{{ t.visibleCenter | DOY }} {{ t.visibleCenter | date:'dd-MM-yyyy'}}</span>
</div>

<div id="timeline">
</div>

<!-- <p-menu #menu popup="popup" [model]="eventMenuOptions"></p-menu>
<button type="button" pButton icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button> -->

<div id="footer">
  <span id="current-range"></span> {{ centerName }} Planning Tool Timeline. <span id="current-time"></span>
</div>

<div id="timelinemenu">
  <p-menu *ngIf="showEventMenu" [model]="eventMenuOptions"></p-menu>
</div>

<div class="modal fade" id="relocate-modal" data-backdrop="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="change-time-label">Relocate</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="input-group date"> 
                <p-calendar name="new-date" [(ngModel)]="relocate_date" [inline]="true" (onSelect)="DoRelocate()">
                  <ng-template pTemplate="date" let-date>
                      <span style="font-size:9.5px">{{ date.day }}<br><b>{{ date | DOY }}</b></span>
                  </ng-template>
              </p-calendar>                      
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" id="do-relocate" data-dismiss="modal" class="btn btn-primary btn-sm">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- add sequence -->
<!-- <div class="modal fade" id="sequence-modal" data-backdrop="false">
  <div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add a sequence</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" #addSequenceForm="ngForm">
            <div class="form-group">
                <label class="control-label col-sm-3" for="sequencelist">Sequence</label>
                <div class="col-sm-5">
                  <p-dropdown name="sequencelist" [style]="{'width':'100%'}" placeholder="Select a sequence" filter="true" [options]="asimActivitySequences" [(ngModel)]="selectedSequence" (ngModelChange)="convertSequence()"></p-dropdown>
                </div>
            </div>
            <div class="form-group" *ngIf="selectedSequence">
              <label class="control-label col-sm-3" for="description">Description</label>  
              <div class="col-sm-8">
                  <input id="description" name="description" [disabled]="true" [(ngModel)]="selectedSequence.description" type="text" class="form-control input-md"> 
              </div>
            </div>
            <div class="form-group" *ngIf="selectedSequence">
              <label class="control-label col-sm-3" for="sequencestart">Sequence start</label>  
              <div class="col-sm-3">
                  <div class="input-group date"> 
                      <p-calendar name="dtstart" [(ngModel)]="selectedSequence.start" (ngModelChange)="recalculateSequenceTemplates()" dateFormat="dd.mm.yy" required [showIcon]="true" [showTime]="true" [appendTo]="body"></p-calendar>                     
                  </div>
              </div>
            </div>
            <div *ngIf="selectedSequence">
              <div class="form-group" >
                <label class="control-label col-sm-3">List of activities:</label>
              </div>
              <div *ngFor="let sequence of selectedSequence.sequence">
                <div class="form-group" >
                  <label class="control-label col-sm-3">Name</label>
                  <div class="col-sm-5">
                    {{ sequence.summary  }}
                  </div>
                  <label class="control-label col-sm-1">Start</label>
                  <div class="col-sm-3">
                    {{ sequence.dtstart  | date:'dd-MM-yyyy HH:mm' }}
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" (click)="addSequence()" class="btn btn-primary btn-sm" [disabled]="!addSequenceForm.form.valid">Add</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Cancel</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">
  <div class="row">
    	<div class="col-md-12">
			  <div class="jumbotron">
          <h2>
            Live Telemetry tracker
          </h2>
        </div>
      </div>
  </div>
 	<div class="row">
		<div class="col-md-5"> 
  			<form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="yamcsinstance" class="col-sm-3 control-label">
              Yamcs Instance
            </label>
            <div class="col-sm-9">
              <p-dropdown name="yamcsinstance" [autoWidth]="false" [style]="{'width':'100px'}" [(ngModel)]="bandToAdd.yamcsInstance" (onChange)="getYamcsParameters($event)" [options]="_ApplicationService.yamcsInstances"></p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <label for="telemetry" class="col-sm-3 control-label">
              Telemetry item
            </label>
            <div class="col-sm-9">
              <p-dropdown name="instancetelemetry" [autoWidth]="false" [style]="{'width':'350px'}" [(ngModel)]="selectedTM" [options]="instanceTelemetry" filter="true"></p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button (click)="subscribeWebsocket()" class="btn btn-default">
                Subscribe
              </button>
              <button class="btn btn-default" (click)="unsubscribeWebsocket()">
                Unsubscribe
              </button>
            </div>
          </div>
			</form>
    </div>
    <div class="col-md-4"> 
      <ol>
        <li *ngIf="selectedTM">
          {{ selectedTM.name }}: {{ tmValue }}
        </li>
      </ol>
    </div>
    <div class="col-md-3">
    </div> 
 	</div>
</div> -->

<!-- band settings -->
<div class="modal fade" id="settings-modal" data-backdrop="false">
  <div class="modal-dialog" style="width:950px;">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">
           <input id="timelinelabel" name="timelinelabel" (ngModelChange)="timelineLabelChange($event)" [(ngModel)]="selectedTimelineLabel" [style]="{'width':'140px'}" type="text"> 
            settings
          </h4>
      </div>
      <div class="modal-body">
        <p-tabView (onChange)="onTabChange($event)">
          <p-tabPanel header="Bands">
            <p-dataTable [value]="bands" [scrollable]="true" [editable]="true" scrollHeight="350px" columnResizeMode="fit">
              <p-column field="visible" header="" [style]="{'width':'145px'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <button type="button" style="font-size: 10px;" class="btn btn-default" (click)="moveBandUp(row)"><span class="fa fa-arrow-up" ></span></button>
                  <button type="button" style="font-size: 10px;" class="btn btn-default" (click)="moveBandDown(row)"><span class="fa fa-arrow-down"></span></button>
                  <button type="button" style="font-size: 10px;" class="btn btn-default" (click)="deleteBand(row)"><span class="fa fa-times"></span></button>
                </ng-template>  
              </p-column>
              <p-column field="label" header="Label" [editable]="true" [style]="{'width':'150px'}"></p-column>
              <p-column field="filterCategories" header="Filter categories" [style]="{'overflow': 'hidden'}"></p-column>
              <p-column field="optimisFilter" header="OPTIMIS Filter" [style]="{'overflow': 'hidden'}"></p-column>
              <p-column field="leakEventBackground" header="Leak backgrnd">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body"> 
                  <p-checkbox *ngIf="row.type === 'EventBand'" name="leakbckgnd" binary="true" [(ngModel)]="row.leakEventBackground"></p-checkbox>
                </ng-template>
              </p-column>
              <p-column field="style.bandBackgroundColor" header="Band" [style]="{'width':'60px'}">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body"> 
                  <p-colorPicker *ngIf="row.style" [(ngModel)]="row.style.bandBackgroundColor" appendTo="body"></p-colorPicker>
                </ng-template>
              </p-column>
              <p-column field="style.textColor" header="Text" [style]="{'width':'60px'}">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                  <p-colorPicker *ngIf="row.style" [(ngModel)]="row.style.textColor" appendTo="body"></p-colorPicker>
                </ng-template>
              </p-column>
              <p-column field="style.backgroundColor" header="Event" [style]="{'width':'60px'}">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                  <p-colorPicker *ngIf="row.style" [(ngModel)]="row.style.backgroundColor" appendTo="body"></p-colorPicker>
                </ng-template>
              </p-column>
              <p-column field="style.borderColor" header="Border" [style]="{'width':'60px'}">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                  <p-colorPicker *ngIf="row.style" [(ngModel)]="row.style.borderColor" appendTo="body"></p-colorPicker>
                </ng-template>
              </p-column>
              <p-footer><div class="ui-helper-clearfix" style="width:100%"><button class="btn btn-default" data-toggle="modal" data-target="#addband-modal" style="float:left"><span class="glyphicon glyphicon-plus"></span>Add</button></div></p-footer>
            </p-dataTable>
          </p-tabPanel>
          <p-tabPanel header="Textual">
            <!-- <input id="optimisfilter" name="optimisfilter" [(ngModel)]="bandToAdd.optimisFilter" [style]="{'width':'280px'}" type="text" placeholder="activity filter word" class="form-control input-md">  -->
            <textarea pInputTextarea [rows]="20" [cols]="120" name="timelineObject" [(ngModel)]="timelineSettings"></textarea><br>
            <button type="button" data-dismiss="modal" (click)="saveTimelineSettings(timelineSettings)" class="btn btn-primary btn-sm">Update</button>
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Cancel</button>
        <button type="button" data-dismiss="modal" (click)="saveBandSettings()" class="btn btn-primary btn-sm">Ok</button>
      </div>
    </div>
  </div>
</div>

<div #ItemDetailsAnchor></div>
<div #CountdownAnchor></div>

<!--add band-->
<div class="modal fade" id="addband-modal" data-backdrop="false">
  <div class="modal-dialog" style="width:750px;">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Add a band</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #addBandForm="ngForm">
          <div class="form-group">
              <label class="control-label col-md-3" for="bandcontent">Type</label>
              <div class="col-md-5">
                <p-dropdown name="bandcontent" [autoWidth]="false" [style]="{'width':'350px'}" [(ngModel)]="bandToAdd" placeholder="Select band type" [options]="timelineBands" filter="true"></p-dropdown>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="banddescription"></label>
            <div class="col-md-9">
              {{ bandToAdd.description }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="bandname">Band name</label>  
            <div class="col-md-6">
              <input id="bandname" name="bandname" [(ngModel)]="bandToAdd.label" [style]="{'width':'280px'}" type="text" placeholder="band name" class="form-control input-md" required> 
            </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'Increment timing'">
            <label class="control-label col-md-3" for="incrementstart">Increment start date</label>  
            <div class="col-md-5">
              <input  id="incrementstart" name="incrementstart" [(ngModel)]="bandToAdd.incrementStartDate" type="date" class="form-control input-md" required=""> 
            </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'Increment timing'">
            <label class="control-label col-md-3" for="incrementend">Increment end date</label>  
            <div class="col-md-5">
              <input  id="incrementend" name="incrementend" [(ngModel)]="bandToAdd.incrementEndDate" type="date" class="form-control input-md" required=""> 
            </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'Tagged events'">
            <label class="control-label col-md-3" for="eventtags">Tags</label>  
            <div class="col-md-6">
              <p-multiSelect name="eventtags" [maxSelectedLabels]="6" [style]="{'width':'100%'}" [options]="_ApplicationService.getCategories()" [(ngModel)]="bandToAdd.filterCategories"></p-multiSelect>
            </div>
          </div>
          <!-- baaddd coding: -->
          <div class="form-group" *ngIf="bandToAdd.what === 'VMU REC Mode' || bandToAdd.what === 'MXGS modes' || bandToAdd.what === 'MMIA modes' || bandToAdd.what === 'MMIA submodes' || bandToAdd.what === 'MXGS submodes' || bandToAdd.what === 'FSL VMU REC' || bandToAdd.what === 'FSL HRDL' || bandToAdd.what === 'Yamcs events' || bandToAdd.what === 'FSL Mode' || bandToAdd.what === 'MXGS submode as run' || bandToAdd.what === 'MXGS mode as run'  || bandToAdd.what === 'MMIA submode as run' || bandToAdd.what === 'Yamcs archived telemetry'  || bandToAdd.what === 'DHPU mode as run'  || bandToAdd.what === 'MMIA mode as run'  || bandToAdd.what === 'ASIM_Meas_SAAStatus_HK' || bandToAdd.what === 'ASIM_Meas_SUNStatus_HK' || bandToAdd.what === 'Yamcs command history'">
              <label class="control-label col-md-3" for="yamcsinstance">Yamcs instance</label>
              <div class="col-md-6">
                  <p-dropdown name="yamcsinstance" [autoWidth]="false" [style]="{'width':'344px'}" [(ngModel)]="bandToAdd.yamcsInstance" [options]="_ApplicationService.yamcsInstances" placeholder="Select Yamcs instance" (onChange)="getYamcsParameters($event)"></p-dropdown>
              </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'Yamcs archived telemetry'">
            <label class="control-label col-md-3" for="yamcsparameter">Yamcs parameter</label>
            <div class="col-md-6">
                <p-dropdown name="yamcsparameter" filter="true" [autoWidth]="false" [style]="{'width':'344px'}" [(ngModel)]="bandToAdd.yamcsParameter" [options]="instanceTelemetry"></p-dropdown>         
              </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'Tagged events'">
            <label class="control-label col-md-3" for="executedtimes">Use executed times</label>
            <div class="col-md-6">
              <p-checkbox name="executedtimes" binary="true" [(ngModel)]="bandToAdd.showExecutedTimes"></p-checkbox>
            </div>
          </div>
          <!-- <div class="form-group" *ngIf="bandToAdd.type === 'EventBand'">
            <label class="control-label col-md-3" for="leakbackground">Leak background</label>
            <div class="col-md-6">
              <p-checkbox name="leakbackground" binary="true" [(ngModel)]="bandToAdd.leakEventBackground"></p-checkbox>
            </div>
          </div> -->
          <div class="form-group" *ngIf="bandToAdd.what === 'FSL VMU REC' || bandToAdd.what === 'FSL HRDL' || bandToAdd.what === 'Yamcs events' || bandToAdd.what === 'FSL Mode' || bandToAdd.what === 'MXGS submode as run' || bandToAdd.what === 'MXGS mode as run'  || bandToAdd.what === 'MMIA submode as run' || bandToAdd.what === 'Yamcs archived telemetry'  || bandToAdd.what === 'DHPU mode as run'  || bandToAdd.what === 'MMIA mode as run'  || bandToAdd.what === 'ASIM_Meas_SAAStatus_HK' || bandToAdd.what === 'ASIM_Meas_SUNStatus_HK' || bandToAdd.what === 'Yamcs command history'">
              <label class="control-label col-md-3" for="hidetitle">Hide events title</label>
              <div class="col-md-6">
                <p-checkbox name="hidetitle" binary="true" [(ngModel)]="bandToAdd.hideTitle"></p-checkbox>
              </div>
          </div>
          <div class="form-group" *ngIf="bandToAdd.what === 'OPTIMIS COL' || bandToAdd.what === 'OPTIMIS CR' || bandToAdd.what === 'OPTIMIS VC' || bandToAdd.what === 'OPTIMIS JSL-2' || bandToAdd.what === 'OPTIMIS KU-BD' || bandToAdd.what === 'OPTIMIS MC'">
            <label class="control-label col-md-3" for="optimisfilter">Activity filter</label>
            <div class="col-md-6">
              <!-- <p-checkbox name="asimfilter" binary="true" [(ngModel)]="bandToAdd.asimfilter"></p-checkbox> -->
              <input id="optimisfilter" name="optimisfilter" [(ngModel)]="bandToAdd.optimisFilter" [style]="{'width':'280px'}" type="text" placeholder="activity filter word" class="form-control input-md"> 
            </div>
          </div>
          <!-- <div class="form-group" *ngIf="bandToAdd.what === 'ASIM_Meas_SAAStatus_HK'">
            <label class="control-label col-md-4" for="saadata">SAA data</label>
            <div class="col-md-4">
              <p-checkbox name="saadata" binary="true" [(ngModel)]="bandToAdd.saaData"></p-checkbox>
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" data-dismiss="modal" (click)="addBand()" class="btn btn-primary btn-sm" [disabled]="!addBandForm.form.valid">Add</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Dismiss</button>
      </div>
    </div>
  </div>
<div>


 
