#timeline {
    overflow: hidden;
    height: 1000px;
    line-height: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1em;
    font-size: 10px; 
    color: #aaa;
}
