<div style="height: 52px;">
</div>



<!-- <iframe id="video" src="https://www.ustream.tv/embed/9408562?html5ui=1&volume=0" style="margin:10px; border:0" width="480" height="270"></iframe> -->

<div class="container">
    <div class="col-sm-6">
        <h2>{{ _ApplicationService.getPayload() | uppercase }} ground</h2>
        <button pButton type="button" label="Expand all" (click)="expandAllGround()"></button>
        <button pButton type="button" label="Collapse all" (click)="collapseAllGround()"></button>
        <p-tree [value]="GroundFilesTree" [loading]="loading" selectionMode="single" [(selection)]="selectedFile" 
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>        
    </div>
    <div class="col-sm-6">
        <h2>{{ _ApplicationService.getPayload() | uppercase }} On-board</h2>
        <button pButton type="button" label="Expand all" (click)="expandAllOnboard()"></button>
        <button pButton type="button" label="Collapse all" (click)="collapseAllOnboard()"></button>
        <p-tree [value]="OnboardFilesTree" [loading]="loading" selectionMode="single" [(selection)]="selectedFile" 
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>        
    </div>
</div>


<p-contextMenu #cm [model]="items"></p-contextMenu>

<!-- <div>
    Filter: <p-multiSelect [options]="categories" [(ngModel)]="SelectedFilesCategories" (ngModelChange)="categoriesChanged($event)"></p-multiSelect>
</div> -->

<!-- <h3>DragDrop</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-3">
        <h4>Files</h4>
    </div>
    
    <div class="ui-g-12 ui-md-1" style="text-align:center">
        <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
    </div>
    
    <div class="ui-g-12 ui-md-3">
        <h4>Server 1</h4>
    </div>
    
    <div class="ui-g-12 ui-md-1" style="text-align:center">
        <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
    </div>
    
    <div class="ui-g-12 ui-md-3">
        <h4>Server 2</h4>
        <p-tree [value]="OnboardFilesTree" selectionMode="single" [(selection)]="selectedFile" 
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
        </div>
    <div class="ui-g-12 ui-md-1">
        
    </div>
</div> -->

<p-dataTable [value]="files" [(selection)]="selectedFile" selectionMode="single" [contextMenu]="cm" [responsive]="true" [globalFilter]="gb" #dt>
    <p-header> 
        Files 
        <input #gb type="text" placeholder="Search in files">
        <div class="ui-helper-clearfix" style="width:100%"><input type="file" (change)="addFile($event)" /><button class="btn btn-default" (click)="addDummyFile()" style="float:left"><span class="glyphicon glyphicon-plus"></span>Add dummy file</button></div>
    </p-header>
        <p-column field="name" header="Filename" [sortable]="true"></p-column>
        <p-column field="categories" header="Category" [style]="{'width':'120px'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-multiSelect [options]="_ApplicationService.getCategories()" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter" [style]="{'color': 'black'}"></p-multiSelect>
            </ng-template>  
        </p-column>
        <p-column field="length" header="Size (bytes)" [style]="{'width':'100px'}"></p-column>
        <p-column field="metadata.groundLocation" header="Ground location" [style]="{'width':'170px','overflow': 'hidden'}" [sortable]="true"></p-column>
        <p-column field="sum" header="Checksum" [style]="{'width':'130px', 'overflow': 'hidden'}"></p-column>
        <p-column field="slot" header="MMU" [style]="{'width':'90px'}" [sortable]="true"></p-column>
        <p-column field="metadata.onboardLocation" header="On-board location" [style]="{'width':'220px','overflow': 'hidden'}" [sortable]="true"></p-column>
        <p-column field="lastmod" header="Lastmodified" [style]="{'width':'185px'}" [sortable]="true">
            <ng-template let-item="rowData" pTemplate="body">
                <span>{{item.lastmod | date:'dd-MM-yyyy HH:mm':'+0000'}} ({{ item.user }})</span> 
            </ng-template>
        </p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%"><input type="file" (change)="addFile($event)" /><button class="btn btn-default" (click)="addDummyFile()" style="float:left"><span class="glyphicon glyphicon-plus"></span>Add dummy file</button></div></p-footer>
</p-dataTable>


<!-- event details component dialog-->
<div #ItemDetailsAnchor></div>



<div>
    
</div>
<!--<div style="margin-top:8px">Selected Node: {{selectedFile ? selectedFile.label : 'none'}}</div>-->