  
<div class="modal" id="item-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span *ngIf="itemType !== 'files'">{{ item.summary }}</span> 
                <span> {{ item.name }}</span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" #itemForm="ngForm">
                    <div class="tabbable" style="width: 845px;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                            <li *ngIf="item.metadata"><a href="#metadata" data-toggle="tab">User data</a></li>
                            <li><a href="#description" data-toggle="tab">Description</a></li>
                            <li *ngIf="itemType === 'todos'"><a href="#tasks" data-toggle="tab">Sub tasks</a></li>
                            <li *ngIf="itemType === 'files'"><a href="#filecontent" data-toggle="tab">File content</a></li>
                            <li *ngIf="item.file"><a href="#attachedfilecontent" data-toggle="tab">Attached file content</a></li>
                            <li><a href="#history" data-toggle="tab">History</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="details" style="height: 400px;">
                                <!-- templates -->
                                <div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="control-label col-sm-3" for="templates">{{ this._ApplicationService.getPayload() | uppercase }} activity template</label>
                                    <div class="col-sm-5">
                                        <p-dropdown name="templates" placeholder="Select a template" filter="true" [options]="activityTemplates" tabindex="10" [(ngModel)]="selectedTemplate" (onChange)="convertEventTemplateToEvent($event)"></p-dropdown>
                                    </div>
                                </div>
                                <!--Summary-->
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="summary">Title</label>  
                                    <div class="col-sm-8" *ngIf="itemType !== 'files'">
                                        <input id="summary" name="summary" [(ngModel)]="item.summary" type="text" tabindex="1" placeholder="summary" class="form-control input-md" required> 
                                    </div>
                                    <div class="col-sm-5" *ngIf="itemType === 'files'">
                                        <input id="summary" name="summary" [(ngModel)]="item.name" type="text" placeholder="summary" class="form-control input-md" required> 
                                    </div>
                                </div>
                                <!--Size-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="size">Size (bytes)</label>  
                                    <div class="col-sm-5">
                                        <input id="size" name="size" [(ngModel)]="item.length" type="text" placeholder="size" class="form-control input-md" [disabled]="true"> 
                                    </div>
                                </div>
                                <!--Checksum-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="checksum">MD5 Checksum</label>  
                                    <div class="col-sm-5">
                                        <input id="checksum" name="checksum" [(ngModel)]="item.sum" type="text" placeholder="checksum" class="form-control input-md" [disabled]="true"> 
                                    </div>
                                </div>
                                <!--file crc-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="crc">CRC</label>  
                                    <div class="col-sm-5">
                                        <input *ngIf="item.metadata" id="crc" name="crc" [(ngModel)]="item.crc" type="text" class="form-control input-md"> 
                                    </div>
                                </div>
                                <!--Assignees-->
                                <div class="form-group" *ngIf="itemType === 'todos'">
                                    <label class="control-label col-sm-3" for="assignees">Assignees</label>  
                                    <div class="col-sm-8">
                                        <p-multiSelect name="assignees" [options]="users" [(ngModel)]="item.assignees"></p-multiSelect> 
                                    </div>
                                </div>
                                <!--Categories-->
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="categories">Categories</label>  
                                    <div class="col-sm-8">
                                        <p-multiSelect name="category" [options]="categories" [(ngModel)]="item.categories" maxSelectedLabels="9" [style]="{'width':'98%'}" showToggleAll="false" scrollHeight="340px" required="true"></p-multiSelect> 
                                    </div>
                                </div>
                                <!-- Start -->
                                <div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="control-label col-sm-3" for="dtstart">Start (UTC+0{{item.dtstart.getTimezoneOffset()  / -60 }}:00)</label>  
                                    <div class="col-sm-3"> 
                                        <div class="input-group date"> 
                                            <!-- <p-calendar name="dtstart" [(ngModel)]="item.dtstart" (ngModelChange)="calculateEnd('scheduled')" tabindex="2" dateFormat="dd.mm.yy" required [showSeconds]="true" [showIcon]="true" [showTime]="true" [appendTo]="body" [utc]='true'></p-calendar> -->
                                            <p-calendar name="dtstart" [(ngModel)]="item.dtstart" (ngModelChange)="calculateEnd('scheduled')" tabindex="2" dateFormat="dd.mm.yy" required [showSeconds]="true" [showIcon]="true" [showTime]="true" [appendTo]="body">
                                                <ng-template pTemplate="date" let-date>
                                                    <span style="font-size:9.5px">{{ date.day }}<br><b>{{ date | DOY }}</b></span>
                                                </ng-template>
                                            </p-calendar>                
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-2" for="end">Exec. Start (UTC+0{{item.rtstart.getTimezoneOffset()  / -60 }}:00)</label>  
                                    <div class="col-sm-3">
                                        <div class="input-group date"> 
                                            <p-calendar name="rtstart" [(ngModel)]="item.rtstart" (ngModelChange)="calculateEnd('executed')" [showSeconds]="true" tabindex="5" dateFormat="dd.mm.yy" [required]="false" [showIcon]="true" [showTime]="true" [appendTo]="body" [utc]='true'>
                                                <ng-template pTemplate="date" let-date>
                                                    <span style="font-size:9.5px">{{ date.day }}<br><b>{{ date | DOY }}</b></span>
                                                </ng-template>
                                            </p-calendar>                    
                                        </div>
                                    </div>
                                </div>
                                <!-- duration -->
                                <div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="control-label col-sm-3" for="scheduledduration">Duration (sec.)</label>  
                                    <div class="col-sm-3">
                                        <div class="input-group date"> 
                                            <input id="scheduledduration" name="scheduledduration" [disabled]="selectedTemplate" [(ngModel)]="scheduledDuration" tabindex="3" (ngModelChange)="scheduledDurationChanged($event)" type="number" min="0" step="1" oninput="validity.valid||(value='');" class="form-control input-md"> 
                                            <!-- <p-calendar name="scheduledDurationNew" [(ngModel)]="scheduledDurationNew" [timeOnly]="true" [showSeconds]="true"></p-calendar> -->
                                        </div>
                                    </div>
                                    <!-- <label class="control-label col-sm-2" for="executedduration">Duration (min.)</label>  
                                    <div class="col-sm-3">
                                        <div class="input-group date"> 
                                            <input id="executedduration" name="executedduration" [(ngModel)]="executedDuration" tabindex="6" (ngModelChange)="executedDurationChanged($event)" type="number" min="0" step="1" oninput="validity.valid||(value='');" class="form-control input-md"> 
                                        </div>
                                    </div> -->
                                </div>
                                <!-- End-->
                                <div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="control-label col-sm-3" for="end">End (UTC+0{{item.dtend.getTimezoneOffset()  / -60 }}:00)</label>  
                                    <div class="col-sm-3">
                                        <div class="input-group date"> 
                                            <p-calendar name="dtend" [minDate]="item.dtstart" [(ngModel)]="item.dtend" [showSeconds]="true" tabindex="4" (ngModelChange)="calculateDuration('end')" dateFormat="dd.mm.yy" required [showIcon]="true" [showTime]="true" [appendTo]="body" [utc]='true'>
                                                <ng-template pTemplate="date" let-date>
                                                    <span style="font-size:9.5px">{{ date.day }}<br><b>{{ date | DOY }}</b></span>
                                                </ng-template>
                                            </p-calendar>                    
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-2" for="end">Exec. End (UTC+0{{item.rtend.getTimezoneOffset()  / -60 }}:00)</label>  
                                    <div class="col-sm-3">
                                        <div class="input-group date"> 
                                            <p-calendar name="rtend" [minDate]="item.rtstart" [(ngModel)]="item.rtend" tabindex="7" [showSeconds]="true" dateFormat="dd.mm.yy" [required]="false" [showIcon]="true" [showTime]="true" [appendTo]="body" [utc]='true'>
                                                <ng-template pTemplate="date" let-date>
                                                    <span style="font-size:9.5px">{{ date.day }}<br><b>{{ date | DOY }}</b></span>
                                                </ng-template>
                                            </p-calendar>                    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="itemType === 'todos'">
                                    <label class="control-label col-sm-3" for="due">Due</label>  
                                    <div class="col-sm-5">
                                        <div class="input-group date"> 
                                            <p-calendar name="due" [(ngModel)]="item.due" [required]="true" [showIcon]="true" [showTime]="true" [appendTo]="body"></p-calendar>                    
                                        </div>
                                    </div>
                                </div>
                                <!--file ground Location-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="groundlocation">Ground Location</label>  
                                    <div class="col-sm-5">
                                        <input *ngIf="item.metadata" id="groundlocation" name="groundlocation" [(ngModel)]="item.metadata.groundLocation" type="text" class="form-control input-md"> 
                                    </div>
                                </div>
                                <!--file on-board Location-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="onboardlocation">Onboard Location</label>  
                                    <div class="col-sm-5">
                                        <input *ngIf="item.metadata" id="onboardlocation" name="onboardlocation" [(ngModel)]="item.metadata.onboardLocation" type="text" class="form-control input-md"> 
                                    </div>
                                </div>
                                <!--assigned slot-->
                                <div class="form-group" *ngIf="itemType === 'files'">
                                    <label class="control-label col-sm-3" for="slot">Assigned slot</label>  
                                    <div class="col-sm-5">
                                        <input *ngIf="item.slot" id="slot" name="slot" [(ngModel)]="item.slot" type="text" class="form-control input-md" [disabled]="true"> 
                                    </div>
                                </div>
                                <!--Attendees-->
                                <div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="control-label col-sm-3" for="attendees">Attendees</label>  
                                    <div class="col-sm-8">
                                    <p-multiSelect name="assignees" [options]="users" [(ngModel)]="item.attendees" maxSelectedLabels="20" [style]="{'width':'100%'}"></p-multiSelect> 
                                    </div>
                                </div>
                                <!-- Status -->
                                <div class="form-group" *ngIf="itemType !== 'files'">
                                    <label class="control-label col-sm-3" for="status">Status</label>
                                    <div class="col-sm-5">
                                        <p-dropdown name="status" [options]="statusList"  tabindex="8" [(ngModel)]="item.status" required></p-dropdown>
                                    </div>
                                </div>
                                <!-- Priority -->
                                <div class="form-group" *ngIf="itemType === 'todos'">
                                    <label class="control-label col-sm-3" for="priority">Priority</label>
                                    <div class="col-sm-5">
                                        <p-dropdown name="priority" [options]="priorityList" [(ngModel)]="item.priority"></p-dropdown>
                                    </div>
                                </div>                             
                                <!-- Attach file -->
                                <!--<div class="form-group" *ngIf="itemType === 'events'">
                                    <label class="col-md-4 control-label" for="attachfile">Attach file</label>
                                    <div class="col-md-4">
                                        <select id="attachfile" name="attachfile" class="form-control" [(ngModel)]="item.file" (ngModelChange)="attachFile(item.file)">
                                            <option *ngFor="let file of files" [value]="file.uid">{{ file.summary }}</option>
                                        </select>
                                    </div>
                                </div>-->
                            </div>
                            <!-- user data -->
                            <div class="tab-pane" id="metadata">
                                <div class="form-group" *ngFor="let item of userdata; let i = index">
                                    <label class="control-label col-sm-3">{{ item[0] }} </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-md" name="userdataitem" [(ngModel)]="testModel" (ngModelChange)="userdataChanged(i)" placeholder="{{item[1]}}">
                                    </div>
                                </div>   
                            </div>
                            <div class="tab-pane" id="tasks">
                                <!--(Sub)Tasks -->
                                <button type="button" class="btn btn-primary" (click)="addTask()" *ngIf="itemType === 'events'"><span class="glyphicon glyphicon-plus"></span> Add new task</button>
                                <button type="button" class="btn btn-primary" (click)="addSubTask()" *ngIf="itemType === 'todos'"><span class="glyphicon glyphicon-plus"></span> Add new subtask</button>
                                <p-dataTable [value]="item.todos" columnResizeMode="fit" [style]="{'overflow':'visible'}" [(selection)]="selectedTodo" sortField="status" [sortOrder]="1" [scrollable]="true" scrollHeight="350px">
                                    <!-- wnr inline editing werkt: <p-column header="Save" [style]="{'width':'60px'}">
                                        <template let-col let-todo="rowData" pTemplate="body">
                                            <button type="button" class="btn btn-default" (click)="saveTodo(todo)"><span class="fa fa-floppy-o"></span></button>
                                        </template> 
                                    </p-column>  -->
                                    <p-column header="Edit" [style]="{'width':'70px'}">
                                        <ng-template let-selectedtodo="rowData" pTemplate="body">
                                            <button type="button" class="btn btn-default" (click)="showTodoDescription(selectedtodo)"><span class="fa fa-pencil-square-o"></span></button>
                                        </ng-template> 
                                    </p-column>
                                    <p-column header="Summary" field="summary" [sortable]="true"></p-column>
                                    <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'120px'}"></p-column>
                                        <!--<template let-todo1="rowData" pTemplate="editor">
                                            <p-dropdown name="status" [options]="statusList" [(ngModel)]="todo1.status" [style]="{'width':'100%'}"></p-dropdown>
                                        </template>-->
                                    <p-column field="assignees" header="Assignees" [style]="{'width':'100px'}">
                                    </p-column>  
                                    <p-column header="Priority" field="priority" [sortable]="true" [style]="{'width':'80px'}"></p-column>
                                    <p-column field="due" header="Due" [style]="{'overflow':'visible', 'width':'90px'}">
                                        <ng-template let-col let-todo1="rowData" pTemplate="body">
                                            {{ todo1[col.field]|date:'shortDate' }}
                                        </ng-template> 
                                    </p-column>
                                    <p-column header="Detach" [style]="{'width':'60px'}" *ngIf="itemType === 'events'">
                                        <ng-template let-selectedtodo="rowData" pTemplate="body">
                                            <button type="button" class="btn btn-default" (click)="dettachTodo(selectedtodo)"><span class="fa fa-times"></span></button>
                                        </ng-template> 
                                    </p-column>             
                                </p-dataTable>
                            </div>
                            <div class="tab-pane" id="history">
                                <!--History-->
                                <!-- uitgelaten want werkt nog niet naar behoren: [(selection)]="selectedItem" (onRowSelect)="Revert()" selectionMode="single"-->
                                <p-dataTable [value]="item.history" [responsive]="true" sortField="lastmod" [sortOrder]="-1" [scrollable]="true" scrollHeight="350px">
                                    <p-column header="Start" *ngIf="itemType === 'events'" [style]="{'width':'140px'}">
                                        <ng-template let-event="rowData" pTemplate="body">
                                            <span>{{ event.dtstart | date:'dd-MM-yyyy HH:mm':'+0000' }}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column header="End" *ngIf="itemType === 'events'" [style]="{'width':'140px'}">
                                        <ng-template let-event="rowData" pTemplate="body">
                                            <span>{{ event.dtend | date:'dd-MM-yyyy HH:mm':'+0000' }}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column field="status" header="Status" *ngIf="itemType === 'events'" [style]="{'width':'120px'}"></p-column>
                                    <p-column header="Due" *ngIf="itemType === 'todos'" [style]="{'width':'160px'}">
                                        <ng-template let-event="rowData" pTemplate="body">
                                            <span>{{ event.due | date:'dd-MM-yyyy HH:mm':'+0000' }}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column *ngIf="itemType !== 'files'" field="summary" header="Summary"></p-column>
                                    <p-column field="name" header="Filename" *ngIf="itemType === 'files'"></p-column>
                                    <p-column field="slot" header="Slot" *ngIf="itemType === 'files'" ></p-column>
                                    <p-column field="metadata.onboardLocation" header="location on-board" *ngIf="itemType === 'files'" [style]="{'width':'170px'}"></p-column>
                                    <p-column field="metadata.groundLocation" header="location on ground" *ngIf="itemType === 'files'" [style]="{'width':'170px'}"></p-column>
                                    <p-column field="status" header="Status" *ngIf="itemType === 'todos'" [style]="{'width':'90px'}"></p-column>
                                    <p-column header="Modified" [style]="{'width':'190px'}">
                                        <ng-template let-event="rowData" pTemplate="body">
                                            <span>{{ event.lastmod | date:'dd-MM-yyyy HH:mm':'+0000'}} ({{event.user}})</span>
                                        </ng-template> 
                                    </p-column>
                                </p-dataTable>
                            </div>
                            <div class="tab-pane" id="description">
                                <!--Description-->
                                <div class="form-group"> 
                                    <div *ngIf="itemType === 'files'" [froalaEditor]='froalaOptions' [(froalaModel)]="item.summary"></div>
                                    <div *ngIf="itemType !== 'files'" [froalaEditor]='froalaOptions' [(froalaModel)]="item.description" style="width:'100%';"></div>
                                    <!--<div *ngIf="itemType !== 'files'">
                                        <p-editor class="form-control" name="description" [(ngModel)]="item.description" [style]="{'height':'300px'}"></p-editor>
                                    </div>-->
                                </div>
                            </div>
                            <div class="tab-pane" id="filecontent">
                                <!--File Content-->
                                <div class="form-group"> 
                                    <div><textarea class="form-control" name="raw" pInputTextarea rows="18" cols="100" id="raw" [(ngModel)]="item.raw">test</textarea></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="attachedfilecontent">
                                <!--Attached file Content-->
                                <div class="form-group"> 
                                    <div><textarea class="form-control" name="raw" pInputTextarea rows="7" cols="100" id="raw" [(ngModel)]="item.raw"></textarea></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button *ngIf="itemType === 'files'" type="button" class="btn btn-default" (click)="DownloadFile()">Download File (text files only)</button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="this.close.emit({ changed: false })">Cancel</button>
                <button *ngIf="!item.source" type="button" class="btn btn-default" (click)="Delete()" [disabled]="newItem">Delete</button>
                <button *ngIf="!item.source" type="submit" class="btn btn-primary" (click)="Save()" [disabled]="!itemForm.form.valid">Save</button>            
            </div>
        </div>
    </div>
</div>
    <!--<p-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="this.close.emit({ changed: false })">Cancel</button>
        <button type="button" class="btn btn-default" (click)="Delete()">Delete</button>-->
        <!--<button type="submit" class="btn btn-primary">Save</button>-->
        <!--<button type="submit" class="btn btn-primary" (click)="Save()">Save</button>
    </p-footer>-->
<!--</modal>-->
<!--</p-dialog>-->




<!--event's task description-->
<!--<p-dialog [(visible)]="subtaskModal" width=750 height=630 [closable]="true">-->
<div class="modal" id="subtask-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" *ngIf="selectedTodo">
                {{ selectedTodo.summary }}
            </div>
            <div class="modal-body" *ngIf="selectedTodo"> 
                <form class="form-horizontal"> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="todosummary">Summary</label> 
                        <div class="col-md-4">
                            <input id="todosummary" name="todosummary" [(ngModel)]="selectedTodo.summary" type="text" placeholder="summary" class="form-control input-md"> 
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="todostatus">Status</label> 
                        <div class="col-md-4">
                            <p-dropdown name="todostatus" [options]="statusList" [(ngModel)]="selectedTodo.status" [style]="{'width':'100px'}"></p-dropdown> 
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="todoassignees">Assignees</label>
                        <div class="col-md-4">
                            <p-multiSelect name="todoassignees" [options]="users" [(ngModel)]="selectedTodo.assignees" [style]="{'width':'100px'}"></p-multiSelect> 
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="todopriority">Priority</label>
                        <div class="col-md-4">
                            <p-dropdown name="todopriority" [options]="priorityList" [(ngModel)]="selectedTodo.priority" [style]="{'width':'100px'}"></p-dropdown>
                        </div>
                    </div>    
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="todocategories">Categories</label>
                        <div class="col-md-4">
                            <p-multiSelect name="todocategories" [options]="categories" [(ngModel)]="selectedTodo.categories"></p-multiSelect>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tododue">Due</label>
                        <div class="col-md-4">
                            <div class="input-group date"> 
                                <p-calendar name="tododue" [(ngModel)]="selectedTodo.due" [showIcon]="true" [showTime]="true" [appendTo]="body"></p-calendar>                     
                            </div>
                        </div>
                    </div>
                    <div [froalaEditor]='froalaOptionsSmall' [(froalaModel)]="selectedTodo.description"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="saveTodo(selectedTodo)">Save</button>

            </div>
        </div>
    </div>
</div>

<!--<p-dialog [(visible)]="subtaskModal" width=750 height=630 [closable]="true">
    <p-header *ngIf="selectedTodo">
        {{ selectedTodo.summary }}
    </p-header>
        <div *ngIf="selectedTodo">  
            <form class="form-horizontal"> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="todosummary">Summary</label> 
                    <div class="col-md-4">
                        <input id="todosummary" name="todosummary" [(ngModel)]="selectedTodo.summary" type="text" placeholder="summary" class="form-control input-md"> 
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="todostatus">Status</label> 
                    <div class="col-md-4">
                        <p-dropdown name="todostatus" [options]="statusList" [(ngModel)]="selectedTodo.status" [style]="{'width':'100px'}"></p-dropdown> 
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="todoassignees">Assignees</label>
                    <div class="col-md-4">
                        <p-multiSelect name="todoassignees" [options]="users" [(ngModel)]="selectedTodo.assignees" [style]="{'width':'100px'}"></p-multiSelect> 
                    </div>
                </div>   
                <div class="form-group">
                    <label class="col-md-4 control-label" for="todopriority">Priority</label>
                    <div class="col-md-4">
                        <p-dropdown name="todopriority" [options]="priorityList" [(ngModel)]="selectedTodo.priority" [style]="{'width':'100px'}"></p-dropdown>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-md-4 control-label" for="todocategories">Categories</label>
                    <div class="col-md-4">
                        <p-multiSelect name="todocategories" [options]="categories" [(ngModel)]="selectedTodo.categories"></p-multiSelect>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="tododue">Due</label>
                    <div class="col-md-4">
                        <div class="input-group date"> 
                            <p-calendar name="tododue" [(ngModel)]="selectedTodo.due" [showIcon]="true" [showTime]="true" [appendTo]="body"></p-calendar>                     
                        </div>
                    </div>
                </div>
                <div [froalaEditor]='froalaOptionsSmall' [(froalaModel)]="selectedTodo.description"></div>
            </form>
        </div>
    <p-footer>
        <button type="button" class="btn btn-default" (click)="saveTodo(selectedTodo)">Save</button>
         <button type="button" class="btn btn-default" (click)="subtaskModal = false">Cancel</button>
    </p-footer>
</p-dialog>-->

<!--<style>
#tasks {
    height: 300px;
    overflow: auto;
}
</style>-->
